@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>This is About us page</h3>
<img src="https://th.bing.com/th/id/OIP.pPprp_knAWKICVk4fVh9VAHaD4?w=325&h=180&c=7&r=0&o=5&pid=1.7"/>

