@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>This is Contact page</h3>

<h5>Our website ..</h5>
<h5>Phone number ..</h5>
<h5>Social media ..</h5>
