@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        <style>
            table, th ,td{
                border: 1px solid black;
            }
        </style>
    </head>
    
    <body>
            <table>
                <h2>Employee Details</h2>
            <tr>
                <th>EmpNo.</th>
                <th>EmpName.</th>
                <th>Job.</th>
                <th>Salary.</th>
                <th>Deptno.</th>
            </tr>
            <tr>
                <td>1234</td>
                <td>Scott</td>
                <td>Manager</td>
                <td>55000</td>
                <td>12</td>
            </tr>
             <tr>
                <td>5678</td>
                <td>Bob</td>
                <td>Tester</td>
                <td>45000</td>
                <td>10</td>
            </tr>
         </table>
        </body>
</html>
